.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.8rem;
  border-radius: 1rem;
}
.card:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}
.card-img-section {
  position: relative;
}
.card-img {
  width: 100%;
  height: 24rem;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
  object-fit: cover;
  /* opacity: 1;
  will-change: transform, opacity;
  transition: opacity 0.25s, transform 0.25s; */
}
.promoted {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #f0efef;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.offer-text {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(
    90deg,
    rgb(17, 85, 203) 0%,
    rgb(83, 140, 238) 25%,
    rgb(17, 85, 203) 50%,
    rgba(17, 85, 203, 0.8) 80%,
    rgba(17, 85, 203, 0) 100%
  );
  font-weight: 500;
  line-height: 24px;
  position: absolute;
  left: 0.5rem;
  bottom: 1.8rem;
  padding-right: 3rem;
}
.offer-text svg {
  height: 1.8rem;
  color: #fff;
}
.offer-text p {
  max-width: max-content;
  font-size: 1.2rem;
  color: #fff;
}
.card-description {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  position: relative;
  margin-bottom: 1rem;
}
.card-description div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-description .dish-name {
  font-size: 1.6rem;
  font-weight: 500;
}
.card-description .ratting {
  background-color: rgb(58, 183, 87);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}
.card-description .ratting svg {
  height: 1rem;
  width: 1rem;
}

.card-description .dish-type {
  font-size: 1.4rem;
  font-weight: 300;
  color: #666;
  word-spacing: 0.5rem;
}
.card-description .price {
  font-size: 1.4rem;
  font-weight: 300;
  color: #666;
  word-spacing: 0.5rem;
}
.card-description .address,
.card-description .open-close-info {
  font-size: 1.4rem;
  color: #999;
  font-weight: 300;
}
.card-description .open-close-info {
  color: #ef4f5f;
}

.card-description .distance {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 1.4rem;
  font-weight: 300;
}
