.footer {
  padding: 6rem 0;
  background: rgb(248, 248, 248);
}
.footer .footer-container {
  margin: auto;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;
  justify-content: space-between;
  align-items: start;
}
.footer .all-right-reserve {
  font-size: 1.4rem;
  color: #332;
}
